{% extends 'base.html' %}

{% block head %}
    <title>Plant-Based Buds - About</title>
{% endblock %}

{% block body %}
    <h1>About Plant-Based Buds</h1>
    <hr>
    <p>
        Plant-Based Buds was created as a FaceBook group in 2017 to help people share and discover vegan recipes
        and to discuss different aspects of living a cruelty-free, more environmentally sustainable lifestyle.
        The purpose of this site is to provide a place where you can easily search by nutrient (macro, vitamin,
        or mineral) to find top plant-based sources, with a focus on whole, unproccessed foods.
    </p>
{% endblock %}

